<!DOCTYPE html>
<!-- Code By Webdevtrick ( https://webdevtrick.com ) -->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Download Button With Progress | Webdevtrick.com</title>
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/style.css">

</head>
<body>

<div class='container'>
  <input id='funky' type='checkbox'>
  <label for='funky'>
    <div class='download_button'>
      <span><i class="icon fa fa-download"></i> <span>Download</span></span>
      <span class="downloading">Downloading</span>
      <i class="icon d_icon fa fa-cloud-download"></i>
      <i class="icon complete fa fa-check"></i>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='point'></div>
      <div class='download_button__bar'></div>
    </div>
  </label>
  
</div>

</body>
</html>